/***************
BODY
***************/
body {
	font-family:'Open Sans', sans-serif;
}

/***************
HEADER
***************/

header {
	padding-top: 20px;
	height: auto;
	color: white;
	font-size: 16px;
}

header a {
	color: white;
	font-family:'Open Sans', sans-serif;
	font-size: 12px;
}

#mainlogo {
	padding-top: 10px;
	float: left;
	margin-right: 20px;
}

#title {
	padding-top: 1px;
}

#background-picture {
	background: url('images/RBEHomeSplash.png') no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
	padding-bottom: 60px;
}

/***************
BORDERS
***************/

.nav > li > a:hover,
.nav > li > a:focus {
	background: none;
	color: white;
}

li {
	border-width: 1px;
	border-spacing: 12px;
	border-radius: 30px;
	border-color: transparent;
	border-style: solid;
}

li:hover,
li.active {
	border-color: white;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background: none;
}

/***************
COLORS
***************/

body {
	color: white;
}

.learn {
	color: white;
}

/***************
LEARN
***************/

.learn {
	margin-top: 140px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.learn p {
	line-height: 100%;
	letter-spacing: -4px;
	font-size: 92px;
	font-weight: bold;
	color: white;
	margin-bottom: 80px;
}

.learn button {
	border-radius: 40px;
	background: #F99242;
	width: 170px;
	height: 62px;
}

.learn button, .learn button:hover {
	border-radius: 40px;
	background: #F99242;
	width: 170px;
	height: 62px;
	border-color: #F99242;
}

.learn button a {
	text-decoration: none;
	color: white;
}

#one {
	font-size: 48px;
	letter-spacing: -1.5px;
	color: black;
	font-weight: bold;
	text-align: center;
	padding-top: 70px;
}

#two {
	font-size: 18px;
	color: black;
	text-align: center;
	padding-top: 20px;
}

.three {
	color: black;
	text-align: center;
	padding-top: 20px;
	font-size: 18px;
}

.four {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 80px;
}

.five {
	color: black;
	text-align: center;
	padding-top: 2px;
	font-size: 18px;
}

/***************
BUTTONS
***************/
.blue {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	border: 1px solid #2E9CE4;
}

.blue button {
	border-radius: 40px;
	background: #2E9CE4;
	width: 170px;
	height: 62px;
}

.blue button, .blue button:hover {
	border-radius: 40px;
	background: #2E9CE4;
	width: 170px;
	height: 62px;
	border-color: #2E9CE4;
}

.blue button a {
	text-decoration: none;
	color: white;
}

.six {
	color: black;
	font-size: 18px;
}

.seven {
	color: black;
	text-align: center;
	font-size: 18px;
	padding-bottom: 25px;
}

.eight {
	margin-top: 50px;
}

.nine {
	margin-top: 90px;
}

.ten {
	text-align: center;
	padding-left: auto;
	padding-right: auto;
}

.eleven {
	margin: 20px 38px;
}

footer {
	height: auto;
	background-color: #E6E9ED;
	background-size: cover;
	margin-top: 150px
}

#footertext {
	font-family:'Open Sans', sans-serif;
	color: #7E89A8;
	text-align: center;
	font-size: 18px;
	padding-top: 20px;
}


@media (max-width: 768px) {
	.blue {
		margin-bottom: 20px;
	}
}



